*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #233042;
    color: white;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

cabeclho-imagem{
width: 20%;
}

.cabecalho-lista-item{
    display :inline-block;
    margin: 0 16;
    font-kerning: 24px;
}